// Variables etc
$header-font: 'Montserrat', sans-serif;
$body-font: 'Gentium Book Basic', serif;

$text-color: #2D2D2D;
$primary-color: #2D2D2D;
$secondary-color: #00672d;
$tertiary-color: #672D00;
$bg-color: red;

$space: 60px;
$space-sm: 30px;
$space-xs: 7px;
$border-width: 2px;