// Variables etc
$header-font: Helvetica, sans-serif;
$body-font: serif;

$text-color: #3A3A3A;
$primary-color: #672D00;
$secondary-color: #A27C5F;
$tertiary-color: #003a67;

$section-spacing: 60px;
$border-width: 2px;