// Variables etc
$header-font: Helvetica, sans-serif;
$body-font: serif;

$text-color: #2D2D2D;
$primary-color: #672D00;
$secondary-color: #004881;
$tertiary-color: #005a27;

/*
$primary-color: #672D00;
$secondary-color: #A27C5F;
$tertiary-color: #003a67;
*/

$space: 60px;
$space-sm: 30px;
$border-width: 2px;