body {
	font-family: $body-font;
	color: $text-color;
	margin: 0 auto;
	width: 100%;
	max-width: 1080px;
}

h1, h2, h3, h4, h5, h6 {
	color: $text-color;
	margin-bottom: .1em;
	font-family: $header-font;
	line-height: 1.3em;
	letter-spacing: .01em;
}

li {
	line-height: 1.5em;
}

p, ul {
	line-height: 1.5em;
	letter-spacing: .05em;
	margin-top: 0;
	font-size: 1.1em;
}

p:last-of-type {
    margin-bottom: 0;
}


a {
	color: $primary-color;
	text-decoration: none;
}

p a {
		font-weight: bold;
}

img {
	max-width: 100%;
}

footer {
	overflow: auto;
}

main {
	overflow: auto;
}

