@media (max-width: $breakpoint) {
  .wrap {
    margin-top: 0;
  }

  .right {
    margin-top: 10px;
  }

  .mobile-hide {
    display: none;
  }

  .desk-hide {
    display: block;
  }

  .top-nav {
    .margin-left-sm {
      margin-left: 0;
    }
  }

  .bg-image {
    animation: none;
  }

  h1.highlight {
    font-size: 1.5em;
  }
    
}