<footer class="row padding-bottom border-top">
	<div class="footer__section"><%= partial "nav" %></div>
	<div class="footer__section"><h4 class="margin-top-0">Subscribe to Our Newsletter</h4><%= partial "sub-form" %></div>
	<div class="footer__section">contact</div>
</footer>