<footer class="row border-top margin-top padding-top padding-bottom ">
	<div class="footer__section"><%= partial "nav" %></div>
	<div class="footer__section"><h4 class="margin-top-0 margin-left-sm"><span class="highlight"><%= dato.subscribe.footer_title %></span></h4><%= partial "sub-form" %></div>
	<div class="footer__section">contact</div>
</footer>