   <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500|Gentium+Book+Basic:400,700" rel="stylesheet">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Songer & Associates | <%= current_page.data.title %></title>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
    <%= favicon_tag 'images/favicon.ico' %>
    </head>