<ul class="nav"><h4 class="margin-top-0">
	<li><a href="/services">Services</a></li>
	<li><a href="/papers">White Papers</a></li>
	<li><a href="/newsletters">Newsletters</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/">Home</a></li>
</h4></ul>