<div class="logo row border-bottom margin-bottom">
	<div class="row flex-container">
	<div class="left"><img src="/images/logo-alt.svg"></div>
	<div class="right top-nav">
		<h4 class="margin-top-0 margin-bottom-0">
			<a class="margin-right-sm" href="/about">About</a> |
			<a class="margin-right-sm margin-left-sm" href="/services">Services</a> | 
			<a class="margin-right-sm margin-left-sm" href="/papers">White Papers</a> |
			<span class="newsletter"><a class="margin-right-sm margin-left-sm" href="/newsletters">Newsletters</a> |</span>
			<a class="margin-left-sm" href="#contact">Contact</a>
		</h4>
	</div>	
	</div>
</div>