<div class="sidebar">
	<div class="logo mobile-hide"><a href="/"><img src="/images/logo.svg"></a></div>
	<div class="logo desk-hide"><a href="/"><img src="/images/logo-alt.svg"></a></div>
	<%= partial "nav" %>
</div>