<div class="border-top padding-top margin-top border-bottom padding-bottom margin-bottom">
	<div class="row collapse flex-container">
		<div class="left"><%= partial "sub-form" %></div>
		<div class="right">
			<h2 class="margin-top-0"><%= dato.subscribe.title %></h2>
			<%= markdownify(dato.subscribe.body) %>
		</div>
	</div>
</div> 
