<div class="padding-bottom margin-bottom border-top border-bottom">
	<div class="row collapse flex-container">
		<div class="left"><%= partial "sub-form" %></div>
		<div class="right">
			<h2><%= dato.subscribe.title %></h2>
			<p><%= markdownify(dato.subscribe.body) %></p>
		</div>
	</div>
</div> 
